<div class="well">
  <div class="form-group">
    <label for="color">Color</label>
    <select id="color" class="form-control" [(ngModel)]="options.color" (change)="onFilterChange()">
        <option *ngFor="let color of colors" value="{{ color }}">{{ color }}</option>
    </select>
  </div>
  <button class="btn btn-default" (click)="resetFilter()">Reset</button>
</div>
<table class="table">
  <thead>
    <tr>
      <th *ngFor="let c of columns">
      <i>{{ c.title }}</i>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let car of cars">
      <td>{{ car.make }}</td>
      <td>{{ car.year }}</td>
      <td>{{ car.color }}</td>
      <td>{{ car.price }}</td>
    </tr>
  </tbody>